@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.figtree-500 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.figtree-800 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

:root {
--Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Gray-500: hsl(0, 0%, 42%);
--Gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Figtree;
    font-size: 16px;
}

main {
    align-items: center;
    background-color: var(--Yellow);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#card {
    background-color: var(--White);
    border: 2px solid var(--Gray-950);
    border-radius: 20px;
    box-shadow:  5px 5px 0 1px var(--Gray-950);
    padding: 20px;
    width: 100%;
    /* max-width: 330px; */
    max-width: 375px;
}

#illustration {
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100%;
}

label {
    background-color: var(--Yellow);
    border-radius: 5px;
    font-size: clamp(0.7rem, 2vw, 0.8rem);
    padding: 5px 10px;
}

legend {
    font-size: clamp(0.7rem, 2vw, 0.75rem);
    margin-top: 20px;
}

h1 {
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    margin: 10px 0;
}

h1:hover {
    color: var(--Yellow);
    cursor: pointer;
}

label,
legend,
h1,
h2 {
    color: var(--Gray-950);
}

p {
    color: var(--Gray-500);
    font-size: clamp(0.85rem, 2vw, 0.9rem);
    line-height: 1.2rem;
    text-justify: justify;
}

#head-shot {
    align-items: center;
    display: flex;
    margin: 20px 0 0;
}

#head-shot img {
    width: 2rem;
}

h2 {
    font-size: 0.8rem;
    margin-left: 10px;
}

@media (max-width: 480px) {

    #illustration {
        object-fit: none;
    }
}